<p>user works!</p>


<div class="container">
    <div class="d-flex flex-col-reverse justify-content-end">
        <button type="button" class="btn btn-primary" (click)="onAdd()">+Add</button>
    </div>
@if (users && users.length > 0) {
    
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Gender</th>
                <th>Country</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor='let item of users'>
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.email}}</td>
                <td>{{item.mobile}}</td>
                <td>{{item.gender}}</td>
                <td>{{item.country}}</td>
                <td>
                    <div class="d-flex">
                        <div class="px-3">
                            <a href="#link" class="btn btn-info shadow" role="button"><i class="bi bi-person-fill-up"></i></a></div>
                            <div class="px-3"><a (click)="onEdit(item.id)" class="btn btn-info shadow" role="button"><i class="bi bi-pencil-fill sha"></i></a></div>
                            <div class="px-3"><a (click)="onDelete(item.id)" class="btn btn-info shadow" role="button"><i class="bi bi-trash-fill"></i></a></div>
                    </div>
                    
                    
                    
              </tr>
            </tbody>
          </table>
    
} @else{
    <div class="alert alert-primary d-flex justify-content-between">
        <p>No Record available.</p>
        <button type="button" class="btn btn-light" (click)="refresh()">Refresh</button>
    </div>
}
</div>



